main {
	min-height: 85vh;
}

h1 {
	font-size: 1.5rem;
	padding: 0.1rem;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
	display: flex;
}
.carousel-caption {
	position: absolute;
	top: 0;
}
.carousel-caption h2 {
	color: #fff;
	margin-top: 5px;
}
.carousel img {
	height: 300px;
	padding: 20px;
	margin-top: 3.5rem;
	margin-bottom: 0.5rem;
	border-radius: 50%;
}

.carousel a {
	margin: 0 auto;
}

@media (max-width: 1000px) {
	.carousel img {
		height: 300px;
		padding: 20px;
		margin-top: 6rem;
		margin-bottom: 0.5rem;
		border-radius: 50%;
	}
}
